
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Cambria, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dadada;
}

header {
    min-height: 100px;
    background-color: #EDC5AB;
    color: #217074;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    background-color: #8B9D77;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #E7EAEF;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #37745B;
}

section {
    flex: 1;
    min-width: 1200px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E7EAEF;
}

section h2 {
    color: #333;
}

section p {
    color: #323232;
}

footer {
    background-color: #EDC5AB;
    color: #217074;
    text-align: center;
    padding: 1em 0;
}
